<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список дел</title>
</head>
<body style="background-color:aquamarine">
    <h1>Мой список дел</h1>
    <ol>
        <li>Apply for Masters</li>
        <li>Django</li>
    </ol>
    <h1>List that have been done</h1>
    <ol>
        <li style="color: crimson;">HW School Course</li>
    </ol>
    <h3 style="color: navy;">In process</h3>
    <ol>
        <li>Apply for Masters - wait till November 16 to <a href="https://apply.stipendiumhungaricum.hu/">Hungary</a></li>
        <li>Apply for Masters - Rossotrudnichestvo</li>
        <li>Apply to  <a href="https://tajikistan.un.org/en/204635-cashier-tb-project">Cashier TB UN</a></li>
    </ol>
</body>
</html>